html {
    background-color: #000000;
}

body {
    width: 485px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color:#000000;
}

h1 {
    font-size: 3em;
    color:#007d7b;
    margin-bottom: 5px;
    margin-top: 0px;
    padding-top: 5px;
    text-transform: uppercase;
}


h2 {
    font-size: 2em;
    text-transform: uppercase;
}

main {
    margin-top: -15px;
    width:100%
}
nav {
    background-color: #000000;
}

nav a {
    font-size: 1.5em;
    text-decoration: none;
    color:#ffffff;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

nav a:hover {
    color: #007d7b;
}

nav ul {
    display: inline-flex;
    list-style: none;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

p {
    font-size: 1.25em;
    text-align: left;
    margin-left: 5px;
}

#pcontact {
    text-align: center;
    width:90%;
    margin-left:30px;
}

figcaption, label, input, small {
    font-size: 1em;
}

.textbox {
    width:90%;
}

input::placeholder{
    color:#007d7b;
    font-size: 90%;
}

input[type="submit"] {
    background-color: #007d7b;
    color:#ffffff;
    display: inline-block;
    padding:0 50px 0 50px;
    width:60%;
    border-radius: 7px;
    border-style: none;
    padding:5px 0 5px 0;
    text-transform: uppercase;
}

img {
    width:100%;
}

label {
    text-transform: uppercase;
    display: inline-block;
    width:100px;
    text-align: left;
    margin-left:-344px;
}

figure {
    position: relative;
    display: inline-block;
}
figcaption {
    text-transform: uppercase;
    font-weight: bold;
}

.bottomwhite {
    position:absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color:#ffffff;
}

.topwhite {
    position:absolute;
    top:10px;
    left:0;
    right:0;
    text-align:center;
    color:#ffffff;
}

.topblack {
    position:absolute;
    top:10px;
    left:0;
    right:0;
    text-align: center;
    color:#000000;
}

.bottomblack {
    position:absolute;
    bottom:10px;
    left:0;
    right:0;
    text-align: center;
    color:#000000;
}

[href="#top"] {
    position:fixed;
    bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;
}

#contact {
    background-color: #000000;
    color:#ffffff;
    padding-top:3px;
    padding-bottom: 50px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding-bottom: 10px;
    text-transform: uppercase;

}

@media screen and (min-width:880px) {
    body {
        width:880px;
        margin: 0 auto;
        background-color: #ffffff;
    }

    h1 {
        text-align: left;
    }

    #image-grid {
        display:grid;
        grid-template-columns: 1fr 1fr;
        width:100%;
    }
}

@media screen and (min-width:1300px) {
    body {
        width:1300px;
        margin: 0 auto;
        background-color: #ffffff;
    }

    nav ul {
        text-align: right;
    }

    #image-grid {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        width:100%;
    }

}